<h3 class="title" style="text-align: center;">Passeios Agendados</h3>

<div class="listagem-passeios">
  <div *ngFor="let passeio of passeios">
    <mat-card class="card-usuario" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ passeio.nomePet }}</mat-card-title>
        <mat-card-subtitle>{{ passeio.dataHora | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Agendamento para o pet <strong>{{ passeio.nomePet }}</strong> com o Walker .</p>
        <p><strong>{{ passeio.idCliente }}</strong> agendou um passeio para o {{ passeio.dataHora | date: 'dd/MM/yyyy HH:mm' }}.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
