<div class="home-container">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>Bem-vindo ao DogWalker</mat-card-title>
        <mat-card-subtitle>O melhor serviço para passeios do seu pet</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <p>
          O mercado pet está crescendo, e sabemos que muitas pessoas não têm tempo para passear com seus pets.
          Com a DogWalker, você pode contar com um serviço confiável e humanizado para o bem-estar do seu amigo de quatro patas!
        </p>
        <p>
          Oferecemos passeios individuais ou em pacotes, adaptados à sua necessidade.
          Acompanhe o histórico de passeios e deixe seu feedback para melhorar ainda mais a experiência do seu pet.
        </p>
      </mat-card-content>
  
      <mat-card-actions class="contact-info">
        <p><mat-icon>phone</mat-icon> (11) 99999-9999</p>
        <p><mat-icon>email</mat-icon> contatodogwalker.com</p>
        <p><mat-icon>location_on</mat-icon> São Paulo, SP</p>
      </mat-card-actions>
  
      <div class="social-icons">
        <mat-icon>instagram</mat-icon>
        <mat-icon>twitter</mat-icon>
      </div>
    </mat-card>
  </div>
  