<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title class="titulo">Feedback</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="cadastrar()">
      <!-- Email do Cliente -->
      <mat-form-field>
        <input matInput [(ngModel)]="feedback.clienteEmail" name="clienteEmail" placeholder="Email do Cliente" required email>
      </mat-form-field>
      <br>

      <!-- Comentário -->
      <mat-form-field>
        <textarea matInput [(ngModel)]="feedback.comentario" name="comentario" placeholder="Comentário" required rows="4"></textarea>
      </mat-form-field>
      <br>

      <!-- Nota -->
      <mat-form-field>
        <input matInput [(ngModel)]="feedback.nota" name="nota" placeholder="Nota (1 a 5)" required type="text">
      </mat-form-field>
      <br>

      <!-- Data -->
      <mat-form-field>
        <input matInput [(ngModel)]="feedback.data" name="data" placeholder="Data" required type="date">
      </mat-form-field>
      <br>

      <!-- Botão de Envio -->
      <button mat-raised-button color="primary" type="submit">Enviar Feedback</button>
    </form>
  </mat-card-content>
</mat-card>
