.container {
    height: 100vh;
    display: flex;
  }
  
  .sidenav {
    width: 250px; /* Largura fixa do menu */
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 20px; /* Espaço acima dos links */
  }
  
  .sidenav-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px; /* Espaçamento abaixo do nome */
  }
  
  .main-content {
    margin-left: 250px; /* Espaço à esquerda para a sidebar */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-toolbar {
    z-index: 10; /* Garante que a toolbar (se usada) fique acima da sidebar */
  }
  