/* Estilo do card */
.form-card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

mat-card-header {
    margin-bottom: 20px; /* Adiciona 20px de espaço abaixo do título */
  }

  /* Estilo do título */
  .titulo {
    color: white; 
    font-size: 20px; 
    font-weight: bold;
    text-align: center; 
  }

  button {
    display: block;
    margin: 20px auto; 
    width: auto;
  }
  